<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>"Это шаблон index.html для приложения article. 
        Шаблон находится тут: ~/wrk/hexlet-django-blog/hexlet_django_blog/templates/article!!!!!!!!!!!!!1"</h1>
<!--base.html берется автоматом из общей папки temolates -->
        {% extends "base.html" %} 

        {% block content %}
            <h1>Список статей</h1>
            {% for article in articles %}
                <h2>{{ article.name }}</h2>
                <div>{{ article.body|slice:":200" }}</div>
            {% endfor %}
        {% endblock %}
        
</body>
</html>